<!--==========================
          Start About Section
    ============================-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h3 class="section-title" data-i18n="menu.about_us">Companies</h3>
                    <span class="section-divider"></span>
                    <span data-i18n="[html]about_us.mainContent"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 content">
                <div class="table-responsive">
                    <p></p>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:30%">
                                    <b data-i18n="[html]about_us.subContents.firstRow.title">Wir möchten für Sie...</b>
                                </td>
                                <td style="width:70%">
                                    <i class='fas fa-angle-double-right'></i>&nbsp; <span data-i18n="[html]about_us.subContents.firstRow.list.0"></span><br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; <span data-i18n="[html]about_us.subContents.firstRow.list.1"></span><br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; <span data-i18n="[html]about_us.subContents.firstRow.list.2"></span><br/>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%">
                                    <b data-i18n="[html]about_us.subContents.secondRow.title"></b>
                                </td>
                                <td style="width:70%">
                                    <i class='fas fa-angle-double-right'></i>&nbsp; <span data-i18n="[html]about_us.subContents.secondRow.list.0"></span>
                                    <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; <span data-i18n="[html]about_us.subContents.secondRow.list.1"></span>
                                    <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; <span data-i18n="[html]about_us.subContents.secondRow.list.2"></span>
                                    <br/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br/>
                <h5>Vision</h5>
                <div class="padding10px">
                    <p>Sie - als Kunde - haben hohe Anforderungen an Ihre Informatiklösungen:</p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Investitions-Schutz
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Time-To-Market
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Produktivität
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Transparenz
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Kontinuität
                        </li>
                    </ul>

                    <p>Der Markt und Ihr Business wandelt sich immer schneller.</p>
                    <p>Nur in seltenen Fällen können Standard-EDV-Systeme diejenigen Anforderungen abdecken, welche das Spezielle
                        Ihres Produkts oder Ihres Angebots ausmachen. Die Integration von Teil-Lösungen zu einem sinnvollen
                        Ganzen wird - allein schon aus Gründen des Investitionsschutzes - zu einem zentralen Thema.</p>

                    <p>Eine übergeordnete Betrachtungsweise und eine Drehscheibe für betriebliche Informationen inkl. EDV-Wissen
                        kann folgendes bewirken:</p>


                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; die Mitarbeiter finden sich im EDV-Dschungel besser zurecht
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; sie kommen wieder schnell genug an die benötigten Informationen heran
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; die Komplexität der gesamten Prozesse wird - wo sinnvoll - versteckt
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; dauernde Veränderung hinter den Kulissen wird beherrschbar
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Know-How bleibt von Personen unabhängig bestehen
                        </li>
                    </ul>

                    <p>Wir unterstützen Sie beim Aufbau und Betrieb einer individualisierten Wissens-Drehscheibe für Ihr
                        Unternehmen und nennen diese Knowledge Square.</p>

                </div>



            </div>
        </div>
    </div>
</section>


<section id="team" class="section-bg">
    <div class="container">
        <div class="section-header">
            <h3 class="section-title">Our Team</h3>
            <span class="section-divider"></span>
        </div>
        <div class="row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../assets/team/portrait.jpg" alt="" style="width:100px;height:100px"></div>
                    <h5 style="font-size:16px">Stefan Ochsenbein</h5>
                    <span>Portrait</span>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../assets/team/portrait_1.jpg" alt="" style="width:100px;height:100px"></div>
                    <h5 style="font-size:16px">Bikram Chatterjee</h5>
                    <span>Portrait</span>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../assets/team/portrait_2.jpg" alt="" style="width:100px;height:100px"></div>
                    <h5 style="font-size:16px">Agustin Cautin</h5>
                    <span>Portrait</span>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../assets/team/preview_3.jpg" alt="Franz Philippe Wyss" title="Franz Philippe Wyss"
                            style="width:100px;height:100px"></div>
                    <h5 style="font-size:16px">Franz Philippe Wyss</h5>
                    <span>Portrait</span>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../assets/team/slide_4.jpg" alt="Erlio GmbH" title="Erlio GmbH" style="width:100px;height:100px"></div>
                    <h5 style="font-size:16px">Erlio GmbH</h5>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../assets/team/preview.jpg" alt="Manfred Jehle" title="Manfred Jehle" style="width:100px;height:100px"></div>
                    <h5 style="font-size:16px">Manfred Jehle</h5>
                    <span>Portrait</span>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../assets/team/preview_1.jpg" alt="Susanne Müller" title="Susanne Müller"
                            style="width:100px;height:100px"></div>
                    <h5 style="font-size:16px">Susanne Müller</h5>
                    <span>Portrait</span>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../assets/team/preview_2.jpg" alt="Erna Villiger" title="Erna Villiger"
                            style="width:100px;height:100px"></div>
                    <h5 style="font-size:16px">Erna Villiger</h5>
                    <span>Portrait</span>
                </div>
            </div>


            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../assets/team/preview_9.jpg" alt="Guido Hollenstein" title="Guido Hollenstein"
                            style="width:100px;height:100px"></div>
                    <h5 style="font-size:16px">Guido Hollenstein</h5>
                    <span>Portrait</span>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../assets/team/preview_4.jpg" alt="Guido Hollenstein" title="Guido Hollenstein"
                            style="width:100px;height:100px"></div>
                    <h5 style="font-size:16px">Edouard Laederach</h5>
                    <span>Portrait</span>
                </div>
            </div>


            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../../assets/team/preview_5.jpg" alt="Bruno Schuler" title="Bruno Schuler"
                            style="width:100px;height:100px"></div>
                    <h5 style="font-size:16px">Bruno Schuler</h5>
                    <span>Portrait</span>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="../../assets/team/preview_6.jpg" alt="lernpark.ch" title="lernpark.ch"
                                style="width:100px;height:100px"></div>
                        <h5 style="font-size:16px">lernpark.ch</h5>
                    </div>
                </div>
    


        </div>
    </div>
</section>