<!--==========================
          Start About Section
    ============================-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h3 class="section-title" data-i18n="menu.about_us">Companies</h3>
                    <span class="section-divider"></span>
                    <span data-i18n="[html]about_us.mainContent"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 content">
                <div class="table-responsive">
                    <p></p>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:30%" class="text-center">
                                    <b data-i18n="[html]about_us.subContents.firstRow.title"></b>
                                </td>
                                <td style="width:70%">
                                    <i class='fas fa-angle-double-right'></i>&nbsp; <span data-i18n="[html]about_us.subContents.firstRow.list.0"></span><br />
                                    <i class='fas fa-angle-double-right'></i>&nbsp; <span data-i18n="[html]about_us.subContents.firstRow.list.1"></span><br />
                                    <i class='fas fa-angle-double-right'></i>&nbsp; <span data-i18n="[html]about_us.subContents.firstRow.list.2"></span><br />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%" class="text-center">
                                    <b data-i18n="[html]about_us.subContents.secondRow.title"></b>
                                </td>
                                <td style="width:70%">
                                    <i class='fas fa-angle-double-right'></i>&nbsp; <span data-i18n="[html]about_us.subContents.secondRow.list.0"></span>
                                    <br />
                                    <i class='fas fa-angle-double-right'></i>&nbsp; <span data-i18n="[html]about_us.subContents.secondRow.list.1"></span>
                                    <br />
                                    <i class='fas fa-angle-double-right'></i>&nbsp; <span data-i18n="[html]about_us.subContents.secondRow.list.2"></span>
                                    <br />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top:20px;">
        <div class="section-header">
            <h3 class="section-title2" data-i18n="[html]about_us.vision.headline"></h3>
            <span class="section-divider"></span>
        </div>
        <div class="row">
            <div class="col-md-12 content" id="visionList">

            </div>
        </div>
    </div>
</section>

<section id="team" class="section-bg" style="padding-top:30px;margin-top: 30px">
    <div class="container">
        <div class="section-header">
            <h3 class="section-title2" data-i18n="[html]about_us.teams.headline"></h3>
            <span class="section-divider"></span>
        </div>
        <div class="row wow fadeInUp text-center" id="teamList">

        </div>
    </div>
</section>

<section id="about2" style="padding: 20px 0px 40px 0px;margin-top: 0px">
    <div class="container" style="padding-top:20px;">
        <div class="section-header">
            <h3 class="section-title2" data-i18n="[html]about_us.contact.headline"></h3>
            <span class="section-divider"></span>
        </div>
        <div class="row">
            <div class="col-md-12 content" id="contactList">

            </div>
        </div>
    </div>

    <div class="container" style="padding-top:20px;">
        <div class="section-header">
            <h3 class="section-title2" data-i18n="[html]about_us.support.headline"></h3>
            <span class="section-divider"></span>
        </div>
        <div class="row">
            <div class="col-md-12 content" id="supportContents">

            </div>
        </div>
    </div>

    <div class="container" style="padding-top:20px;">
        <div class="section-header">
            <h3 class="section-title2" data-i18n="[html]about_us.jobs.headline"></h3>
            <span class="section-divider"></span>
        </div>
        <div class="row">
            <div class="col-md-12 content" id="jobContents">

            </div>
        </div>
    </div>
</section>