<!--==========================
          Start About Section
    ============================-->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header">
          <h3 class="section-title" data-i18n="home.headline"></h3>
          <span class="section-divider"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 about-img">
        <img src="../../assets/images/ScreenSaverOriginalBild.jpg" alt="" title="">
      </div>
      <div class="col-md-6 content">
        <p data-i18n="[html]home.content"></p>
        <ul data-i18n="[html]home.paragraph"></ul>
      </div>
    </div>
  </div>
</section>
<!--==========================
         End About Section
    ============================-->

<!--==========================
         Start Features Section
    ============================-->
<section id="more-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 ">
        <div class="box">
          <div class="icon"><i class="fa fa-cog" aria-hidden="true"></i></div>
          <h4 class="title"><a href="" data-i18n="menu.services"></a></h4>
          <p class="description">
            <span data-i18n="home.serviceSmallText"></span>
            <a href="" data-i18n="menu.moreText"></a>
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box">
          <div class="icon"><i class="fa fa-flask"></i></div>
          <h4 class="title"><a href="" data-i18n="menu.solutions"></a></h4>
          <p class="description">
            <span data-i18n="home.solutionSmallText"></span>
            <a href="" data-i18n="menu.moreText"></a>
          </p>
        </div>
      </div>
      
      <div class="col-lg-4">
        <div class="box">
          <div class="icon"><i class="fa fa-university" aria-hidden="true"></i></div>
          <h4 class="title"><a href="" data-i18n="menu.companies"></a></h4>
          <p class="description">
            <span data-i18n="home.companiesSmallText"></span>
            <a href="" data-i18n="menu.moreText"></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--==========================
         End Features Section
    ============================-->