<header class="header bg-light">
	<h1>K2 Informatics GmbH</h1>
	<p class="lead">Knowledge Squares - richtig eingesetzt und genutzt - k&ouml;nnen ...</p>
</header>

<nav class="navbar sticky-top navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Sticky top</a>
</nav>

<main role="main" class="container">
	<div class="jumbotron">
		<h1>Navbar example</h1>
		<p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain
			fixed to the top of your browser's viewport.</p>
		<a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
	</div>
	<div class="jumbotron">
		<h1>Navbar example</h1>
		<p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain
			fixed to the top of your browser's viewport.</p>
		<a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
	</div>
	<div class="jumbotron">
		<h1>Navbar example</h1>
		<p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain
			fixed to the top of your browser's viewport.</p>
		<a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
	</div>
	<div class="jumbotron">
		<h1>Navbar example</h1>
		<p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain
			fixed to the top of your browser's viewport.</p>
		<a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
	</div>
	<div class="jumbotron">
		<h1>Navbar example</h1>
		<p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain
			fixed to the top of your browser's viewport.</p>
		<a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
	</div>
</main>

<footer class="footer bg-dark">
	<div class="container">
		<span class="text-light">K2 Informatics GmbH &copy; 2018, All Rights Reserved</span>
	</div>
</footer>