<!--==========================
          Start About Section
    ============================-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h3 class="section-title" data-i18n="services.headline"></h3>
                    <span class="section-divider"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 content">
                <p data-i18n="[html]services.content"></p>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:30%">
                                    <b>Sie möchten...</b>
                                </td>
                                <td style="width:70%">
                                    <i class='fas fa-angle-double-right'></i>&nbsp; rasch und bequem ein IT-Problem <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Ihr Informationssystem erweitern oder
                                    erneuern <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Ihr Betriebswissen festigen und Übersicht
                                    gewinnen <br/>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%">
                                    <b>und dabei...</b>
                                </td>
                                <td style="width:70%">
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Ihre früheren Investionen schützen und
                                    weiter verwenden <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Time-To-Market optimieren <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; die Produktivität Ihrer Prozesse steigern
                                    <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; die Durchschaubarkeit des Systems verbessern
                                    <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; die Kontinuität wahren und schrittweise
                                    vorgehen <br/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br/>
                <h5>Beratung</h5>
                <div class="padding10px">
                    <p>
                        Wir bringen theoretische Grundlagen und Arbeitsweisen in unsere Projekte ein, legen aber viel Gewicht auf Erfahrung (Ihre
                        und unsere), Verhältnismässigkeit, gesunden Menschenverstand, Ihre eigene Kompetenz und auf Teamwork.
                    </p>
                    <p><b>Wir bieten folgende Beratungsleistungen an:</b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Beratung in IT-Fragen in Zusammenhang mit eigenen und fremden Produkten
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Beratung zu technischen, organisatorischen und arbeitspsychologischen Fragestellungen
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Trouble-Shooting
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Prozess-Engineering
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Entwicklung von Anforderungs-Profilen, IT-Konzepten und Strategien
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Entwicklung von Umsetzungs-Strategien
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Erstellen von Test-Konzepten und Durchführung von Tests in Ihrem Auftrag
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Leitung von Informatikprojekten
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Konzeption von Kommunikations-, Informations- und Wissensplattformen
                        </li>
                    </ul>
                </div>



                <h5>Engineering und Entwicklung</h5>
                <div class="padding10px">
                    <p>
                        Wir realisieren IT-Projekte zu fixen Preisen und Terminen, als Generalunternehmer oder als Komponenten-Lieferant.
                    </p>
                    <p><b>Realisierung von Integrationsprojekten</b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Schnittstellen zwischen bestehenden Applikationen
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Wrapping von bestehenden Applikationen
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Re-Engineering von bestehenden Applikationen
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Konzeption und Realisierung von neuen Applikationen
                        </li>
                    </ul>

                    <p><b>Realisierung von Informationsplattformen</b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Datenbank-Design / Data Warehousing
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Data Mining / Reporting
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Informations-Verteilung
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Dokumenten-Verwaltung
                        </li>
                    </ul>

                    <p><b>Aufbau von Wissensplattformen</b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; massgeschneiderte Wissensmodelle
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; interaktive Wissens-Erfassung
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Wissens-Präsentation
                        </li>
                    </ul>
                </div>


                <h5>Unsere aktive Unterstützung bei Ihnen im Betrieb</h5>
                <div class="padding10px">
                    <p>
                        Wir arbeiten gerne in Ihrem Betrieb mit
                    </p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; bei der Betreuung Ihrer IT-Systeme
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; bei der Bereitstellung von Informationen
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; bei der Formalisierung und Verteilung von Wissen
                        </li>
                    </ul>

                    <p><b>Mitarbeit beim Betrieb von Applikationen oder Teilen davon</b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; während der Einführung einer neuen Lösung
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; zur Überbrückung von Spitzenlast-Zeiten
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; als nicht befristete Dienstleistung
                        </li>
                    </ul>
                    Diese Art von Support erlaubt uns eine vertiefte Einsicht in Ihre Prozesse und hilft uns bei der Ortung von verborgenen Informations- und Wissens-Schätzen.
                    Wir kombinieren diese Dienstleistungen auch mit Training-on-the-job und erzielen damit einen wirklich praxisrelevanten Know-How-Transfer in beide Richtungen.
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!--==========================
       End About Section
============================-->