<!--==========================
          Start About Section
    ============================-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h3 class="section-title" data-i18n="services.headline"></h3>
                    <span class="section-divider"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 content">
                <p data-i18n="[html]services.mainContent"></p>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:30%" class="text-center">
                                    <b data-i18n="[html]services.subContents.firstRow.title"></b>
                                </td>
                                <td style="width:70%">
                                    <i class='fas fa-angle-double-right'></i>
                                    &nbsp;<span data-i18n="[html]services.subContents.firstRow.list.0"></span>
                                    <br /><i class='fas fa-angle-double-right'></i>
                                    &nbsp;<span data-i18n="[html]services.subContents.firstRow.list.1"></span>
                                    <br /><i class='fas fa-angle-double-right'></i>
                                    &nbsp;<span data-i18n="[html]services.subContents.firstRow.list.2"></span>
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%" class="text-center">
                                    <b data-i18n="[html]services.subContents.secondRow.title">und dabei...</b>
                                </td>
                                <td style="width:70%">
                                    <i class='fas fa-angle-double-right'></i>
                                    &nbsp;<span data-i18n="[html]services.subContents.secondRow.list.0"></span>
                                    <br /><i class='fas fa-angle-double-right'></i>
                                    &nbsp;<span data-i18n="[html]services.subContents.secondRow.list.1"></span>
                                    <br /><i class='fas fa-angle-double-right'></i>
                                    &nbsp;<span data-i18n="[html]services.subContents.secondRow.list.2"></span>
                                    <br /><i class='fas fa-angle-double-right'></i>
                                    &nbsp;<span data-i18n="[html]services.subContents.secondRow.list.4"></span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <h5 data-i18n="[html]services.subContents.thirdRow.title"></h5>
                <div class="padding10px">
                    <p data-i18n="[html]services.subContents.thirdRow.content"></p>
                    <p><b data-i18n="[html]services.subContents.thirdRow.list.0"></b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.thirdRow.list.1"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.thirdRow.list.2"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.thirdRow.list.3"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.thirdRow.list.4"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.thirdRow.list.5"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.thirdRow.list.6"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.thirdRow.list.7"></span>

                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.thirdRow.list.8"></span>

                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.thirdRow.list.9"></span>
                        </li>
                    </ul>
                </div>

                <h5 data-i18n="[html]services.subContents.fourthRow.title"></h5>
                <div class="padding10px">
                    <p data-i18n="[html]services.subContents.fourthRow.content"></p>
                    <p><b data-i18n="[html]services.subContents.fourthRow.list.0"></b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fourthRow.list.1"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fourthRow.list.2"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fourthRow.list.3"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fourthRow.list.4"></span>
                        </li>
                    </ul>

                    <p><b data-i18n="[html]services.subContents.fourthRow.list.5"></b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fourthRow.list.6"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fourthRow.list.7"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fourthRow.list.8"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fourthRow.list.9"></span>
                        </li>
                    </ul>

                    <p><b data-i18n="[html]services.subContents.fourthRow.list.10"></b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fourthRow.list.11"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fourthRow.list.12"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fourthRow.list.13"></span>
                        </li>
                    </ul>
                </div>

                <h5 data-i18n="[html]services.subContents.fifthRow.title"></h5>
                <div class="padding10px">
                    <p data-i18n="[html]services.subContents.fifthRow.content"></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fifthRow.list.0"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fifthRow.list.1"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fifthRow.list.2"></span>
                        </li>
                    </ul>

                    <p><b data-i18n="[html]services.subContents.fifthRow.list.3"></b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fifthRow.list.4"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fifthRow.list.5"></span>
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>&nbsp;
                            <span data-i18n="[html]services.subContents.fifthRow.list.6"></span>
                        </li>
                    </ul>
                    <span data-i18n="[html]services.subContents.fifthRow.list.7"></span>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!--==========================
       End About Section
============================-->