<!--==========================
          Start About Section
    ============================-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h3 class="section-title" data-i18n="solutions.headline"></h3>
                    <span>
                        Wir bieten Unterstützung und/oder fertige Lösungen in diversen Branchen zu den Themen Daten-, Informations- und Wissens-Management
                        Die Module der drei Schichten bauen aufeinander auf und können bei Bedarf in das Portalsystem Knowledge
                        Square integriert werden.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 content">
                <p data-i18n="[html]services.content"></p>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:30%">
                                    <b>Knowledge Management</b>
                                </td>
                                <td style="width:70%">
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Knowledge Collection <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Knowledge Store <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Knowledge Model<br/>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%">
                                    <b>Information Handling</b>
                                </td>
                                <td style="width:70%">
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Data Analysis <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Data Processing <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Data Consolidation<br/>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%">
                                    <b>Data Processing</b>
                                </td>
                                <td style="width:70%">
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Data Interfaces <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Data Collection <br/>
                                    <i class='fas fa-angle-double-right'></i>&nbsp; Data Mediation<br/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <br/>
                <h5>Daten verarbeiten</h5>
                <div class="padding10px">
                    <p>
                        Auch unsere kleinen stand-alone Lösungen sind so ausgelegt, dass sie bei Bedarf in eine Knowledge Square-Plattform eingebunden
                        werden können. Dies erlaubt eine schrittweise und risikoarme Vorgehensweise.
                    </p>
                    <p>
                        <b>
                            Der sichere Umgang mit Daten ist die Basis für jedes Informationssystem.<br/> Unsere Data-Mediation-Module
                            unterstützen...
                        </b>
                    </p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; grosse Datenmengen
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; sensiblen Daten
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; alle gängigen Schnittstellen
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Fehler-toleranten Datentransport
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Transfer- und Verarbeitungs-Monitoring
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Transfer- und Verarbeitungs-History <br/> Wir setzen auf Standards und arbeiten bevorzugt
                            auf Windows- und Unix-Plattformen
                        </li>
                    </ul>
                </div>



                <h5>Informationen bereitstellen</h5>
                <div class="padding10px">
                    <p>
                        Wenn es um die Bereitstellung von Informationen geht, können wir uns auf unsere Datenverarbeitungs-Module und -Schnittstellen
                        verlassen.
                    </p>
                    <p>
                        Was hier dazukommt, sind benutzerfreundliche Navigations- und Suchfunktionen, eine rollenbasierte Zugriffssteuerung und Möglichkeiten
                        zur flexiblen Formatierung der Ausgaben.
                    </p>
                    <p><b>Wie gewinnen wir Informationen?</b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Konsolidierung/Analyse von Daten (Data Mining)
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Eingabe am Bildschirm (Provisioning)
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Synchronisation von anderen Systemen (Replication)
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Suche/Parsing im Intranet/Internet
                        </li>
                    </ul>

                    <p><b>Wie finden wir Informationen?</b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Navigation in vorgegebenen Rubriken
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Suche nach Text-Bestandteilen oder Stichwörtern
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Rollenbasierte Filter und Zugangsberechtigungen
                        </li>
                    </ul>

                    <p><b>Wie verteilen wir Informationen?</b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Pull (Empfänger holt die Informationen auf einem Portal)
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Push (Empfänger erhält die Informationen zugeschickt, z.B. als eMail)
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; PushPull (Empfänger erhält einen Hinweis zugeschickt, z.B. eine SMS und holt dann ab)
                        </li>
                    </ul>
                </div>


                <h5>Knowledge</h5>
                <div class="padding10px">
                    <p>
                        Rein personenbezogenes Wissen ist nur bedingt nutzbar und muss zuerst "verallgemeinert" werden. Die Metapher des Eisbergs
                        bietet sich an, wo nur ein Teil der Eismasse an der Oberfläche sichtbar ist. Genauso verhält es sich
                        mit der Kommunikation, wo es gilt, den geschäftlichen Teil der informellen Kommunikation der Mitarbeiter
                        in nutzbare formelle und elektronisch verwertbare Kanäle zu lenken.
                    </p>
                    <p><b>Wie erarbeiten wir nutzbares Wissen?</b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp;Angepasstes Wissensmodell (Fundament/Rahmen)
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Gelenkte Kommunikation (über Knowledge Square)
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Wissensbeiträge von Mitarbeitern (Know-How)
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Externe Wissensbeiträge (Best Practises)
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Interne oder externe Moderation der Inhalte-Pflege
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Training
                        </li>
                    </ul>

                    <p><b>Wie bewahren wir Wissen?</b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Wissens-Speicher
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; kontinuierliche Pflege durch die Beteiligten
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; periodische Qualitäts-Reviews
                        </li>
                    </ul>
                </div>

                <h5>Branchen-Erfahrung</h5>
                <div class="padding10px">
                    <p>
                        Das bei K2 Informatics verfügbare Know-How in ihrer Branche legen wir ihnen wir gerne auf Anfrage dar. Wir freuen uns auf
                        ihren Anruf.
                    </p>
                    <p><b>Die Mitarbeiter der K2 Informatics und die Partnerfirmen bringen langjährige Erfahrung in diversen
                            Branchen mit.</b></p>
                    <ul>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp;Telecom
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; R&D in Industrie und Forschung
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Banken
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Tourismus
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Box Offices (Ticketing)
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Mobile-Ticketing
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Internet-Publishing
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; eCommerce
                        </li>
                        <li>
                            <i class='fas fa-angle-double-right'></i>
                            &nbsp; Energietechnik
                        </li>
                    </ul>
                </div>


                <h5>Knowledge Squares</h5>
                <div class="padding10px">
                    <p>
                        personenbezogenes (flüchtiges) Know-How in kollektives Know-How verwandeln <br/>
                        informelle Kommunikation durch formelle (wo notwendig) ersetzten <br/>
                        die Anwendung von Standards und Werkzeugen verbessern <br/>
                        Kommunikations- und Wissensdefizite sichtbar machen
                    </p>
                    <p><b>Knowledge Squares</b></p>
                    Wissens-Drehscheiben (Knowledge Squares) basieren auf modernen Web-Techniken und werden intern (von Ihren Mitarbeitern) oder extern (von uns oder Ihrem Berater) gepflegt und moderiert.Sie bauen auf den bestehenden Informatiklösungen auf und präsentieren die in diesen Systemen geführten Daten in einem übergeordneten Kontext.Knowledge Squares bilden aber auch die betrieblichen Informatik-Komponenten ab und erlauben es so, Wissen über diese aufzunehmen, in einen Zusammenhang zu den betrieblichen Abläufen zu stellen und in einheitlicher Form zu präsentieren.
                    <br/>
                    Knowledge Squares werden an die individuellen Bedürfnisse des Unternehmens und der Mitarbeitergruppen (Rollen) angepasst.
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>

            </div>
        </div>
    </div>
</section>
<!--==========================
               End About Section
        ============================-->